<div class="chatMessages-content">
  @for(chat of chats; track chat.chatId ){
  <div class="chat-message-container">
    <div class="name-container">
      {{ chat.author }}
    </div>
    <p>{{ chat.chatText }}</p>
    <div style="display: flex; justify-content: flex-end; width: 100%">
      <input
        style="margin-right: 8px; flex-grow: 1"
        type="text"
        [(ngModel)]="chat.chatText"
      />
      <button
        class="btn-primary"
        (click)="onEditChat(chat.chatId, chat.chatText)"
      >
        Edit
      </button>
      <button
        style="margin-left: 8px"
        class="btn-danger"
        (click)="onDelete(chat.chatId)"
      >
        Delete
      </button>
    </div>
  </div>
  }
</div>
