<div class="chatMessages-content">
  @for(chat of chats; track chat.chatId ){
  <div class="chat-message-container">
    <div class="name-container">
      {{ chat.author }}
    </div>
    <p>{{ chat.chatText }}</p>
    <div style="display: flex; justify-content: flex-end; width: 100%">
      <app-button
        appOpenModal
        variant="default"
        label="Edit"
        (click)="getChatId(chat.chatId)"
      >
      </app-button>
      <app-button
        style="margin-left: 8px"
        variant="danger"
        label="Delete"
        (click)="onDelete(chat.chatId)"
      ></app-button>
    </div>
  </div>
  }

  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <div style="display: flex; flex-direction: column; gap: 20px">
        <h4>Edit Message</h4>
        <textarea
          placeholder="Enter message"
          style="min-height: 200px; padding: 10px"
          [(ngModel)]="newChatText"
        ></textarea>
        <div style="display: flex; justify-content: space-between">
          <app-button
            [disabled]="isChatTextEmpty()"
            label="Save"
            variant="default"
            (click)="onEditChat(selectedChatId, newChatText)"
          ></app-button>
          <app-button
            label="Close"
            variant="danger"
            (click)="onClose()"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
