<div class="chatMessages-content">
  @for(chat of chats; track chat.chatId ){
  <div class="chat-message-container">
    <div class="name-container">
      {{ chat.author }}
    </div>
    <p>{{ chat.chatText }}</p>
    <div style="display: flex; justify-content: flex-end; width: 100%">
      <button
        style="margin-right: 16px"
        (click)="onEditChat(chat.chatId, chat.chatText)"
      >
        Edit
      </button>
      <input type="text" [(ngModel)]="chat.chatText" />
      <button (click)="onDelete(chat.chatId)">Delete</button>
    </div>
  </div>
  }
</div>
