<div class="chats-content">
  <div class="success" *ngIf="chatmessageAdded">chat added</div>

  <div style="margin-bottom: 16px; margin-top: 16px">
    <form #chatForm="ngForm" (ngSubmit)="onSubmit(chatForm)">
      <div style="display: flex; flex-direction: column; margin-bottom: 16px">
        <label for="author">Author:</label>
        <input
          type="text"
          id="author"
          name="author"
          ngModel
          required
          #name="ngModel"
        />
        <p style="margin-top: 10px" *ngIf="!name.valid && name.touched">
          Please enter a valid name
        </p>
      </div>
      <div style="display: flex; flex-direction: column; margin-bottom: 16px">
        <label for="chatText">Chat Text:</label>
        <input
          type="text"
          id="chatText"
          name="chatText"
          ngModel
          required
          #text="ngModel"
        />
        <p style="margin-top: 10px" *ngIf="!text.valid && text.touched">
          Please enter a valid text
        </p>
      </div>
      <button type="submit" [disabled]="!chatForm.valid">Add Chat</button>
    </form>
  </div>
  <div style="margin-bottom: 20px; margin-top: 20px">
    <h4>All Chats</h4>
  </div>
  <p *ngIf="isLoadingChatMessages">Loading...</p>
  <app-chatmessage [chats]="chatMessages"></app-chatmessage>
  <p *ngIf="chatMessages.length < 1 && !isLoadingChatMessages">No chats</p>
</div>
