$primary-color: #0087ad;
$secondary-color: #ececec;
$accent-color: #b6cbad;
$error-color: #e94545;
$success-color: #60c24a;
$warning-color: #ff9505;
$disabled-color: #c0c4cf;
$text-dark: #1d2125;
$text-light: #fcfcfb;
$disabled-color: #cecece;

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $text-light;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-danger {
  background-color: $error-color;
  border: none;
  border-radius: 4px;
  min-width: 140px;
  color: $text-light;
  font-weight: bold;
}

.btn-primary {
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  min-width: 140px;
  color: $text-light;
  font-weight: bold;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $text-light;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  padding: 20px;
}
