<div class="home-content">
  <div style="margin-bottom: 20px">
    <h1>Welcome to TalkBuddy</h1>
  </div>
  <div style="margin-bottom: 20px">
    <p style="max-width: 600px">
      Talkbuddy is a user-friendly chat application designed to simplify
      communication and foster connections. Seamlessly connect with friends,
      family, or colleagues through instant messaging.
    </p>
  </div>
  <div>
    <img
      src="../../assets/images/BlogImage_Chat.jpg"
      style="border-radius: 8px"
    />
  </div>
</div>
